@model projjjecttttt.Models.Reserve

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserve</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
